::-moz-selection {
  background: rgba(0, 0, 0, 0.2); }

::selection {
  background: rgba(0, 0, 0, 0.2); }

body {
  margin: 0px;
  padding: 5% 10%;
  font-family: Palatino; }

a {
  text-decoration: none;
  color: inherit; }

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 80%; }

.container {
  width: 100%; }

.name {
  color: black;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  opacity: 1; }

.quote {
  color: darkgray;
  text-align: center;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  opacity: 1; }

.avatar {
  text-align: center;
  border-radius: 50%;
  display: block; }

img {
  margin: 0px auto;
  padding: 10px 20px; }

.icon-1 {
  opacity: 1;
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease; }

.icon-2 {
  opacity: 1;
  -webkit-transition: opacity 1200ms ease;
  transition: opacity 1200ms ease; }

.icon-3 {
  opacity: 1;
  -webkit-transition: opacity 1800ms ease;
  transition: opacity 1800ms ease; }

.icon-4 {
  opacity: 1;
  -webkit-transition: opacity 2400ms ease;
  transition: opacity 2400ms ease; }

.icon-5 {
  opacity: 1;
  -webkit-transition: opacity 3000ms ease;
  transition: opacity 3000ms ease; }

ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 20px 0px; }
  ul li {
    margin: 10px;
    padding: 0px;
    display: inline-block;
    text-align: center; }
    ul li a {
      margin: 0px;
      padding: 10px 20px;
      text-decoration: none;
      color: inherit;
      font-size: 2.5em; }
      ul li a i {
        padding: 0px;
        margin: 0px; }
