$color: rgb(0, 0, 0)
$alpha: 0.3

.box
  position: relative
  color: white
  width: 50px
  height: 50px
  line-height: 50px
  background: rgba($color, $alpha)
  text-align: center
  border: 1px solid black
  margin: 10px auto
  padding: 0px

  &:hover
    .box-open-right
      transform: rotateY(0deg)
    .box-open-left
      transform: rotateY(0deg)
    i
      transform: scale(1.2)
  
  > a 
    text-decoration: none
    color: white
    
    > i
      width: 100%
      font-size: 1.5em
      padding: 13px 0px
      transition: all 500ms cubic-bezier(0.13, 0.43, 0.54, 1.82)
  
  .box-open-right
    position: absolute
    top: 0px
    left: 51.9px
    width: 120px
    height: 49px
    color: white
    border-radius: 0px 10px 10px 0px
    border: 1px solid black
    box-sizing: border-box
    transform: rotateY(180deg)
    backface-visibility: hidden
    transform-style: preserve-3d
    transform-origin: 0% 50%
    transition: transform 900ms ease
    background: rgba($color, $alpha)
    font-family: "Comic Sans MS", cursive, sans-serif

  .box-open-left
    position: absolute
    top: 0px
    left: -120px
    width: 120px
    height: 49px
    color: white
    border-radius: 10px 0px 0px 10px
    border: 1px solid black
    box-sizing: border-box
    transform: rotateY(180deg)
    backface-visibility: hidden
    transform-style: preserve-3d
    transform-origin: 100% 0%
    transition: transform 900ms ease
    background: rgba($color, $alpha)
    font-family: "Comic Sans MS", cursive, sans-serif

@media (max-width: 712px)
  .box
    .box-open-right
      transform: rotateY(0deg)
    .box-open-left
      transform: rotateY(0deg)
