$color: rgb(0, 0, 0)
$alpha: 0.2

::selection
  background: rgba($color, $alpha)

body
  margin: 0px
  padding: 5% 10%
  font-family: Palatino

a
  text-decoration: none
  color: inherit

.container
  width: 100%

.name
  color: black
  text-align: center
  font-weight: bolder
  margin: 0px
  padding: 0px
  opacity: 1

.quote
  color: darkgray
  text-align: center
  font-weight: normal
  margin: 0px
  padding: 0px
  opacity: 1

img
  margin: 0px auto
  padding: 10px 20px

.avatar
  text-align: center
  border-radius: 50%
  display: block

@for $i from 1 through 3
  .icon-#{$i}
    opacity: 1
    transition: opacity 600ms * $i ease
  
ul
  list-style-type: none
  text-align: center
  padding: 0px
  margin: 20px 0px
  
  li
    margin: 10px
    padding: 0px
    display: inline-block
    text-align: center
    
    a
      margin: 0px
      padding: 10px 20px
      text-decoration: none
      color: inherit
      font-size: 2.5em
    
      i
        padding: 0px
        margin: 0px

@media (max-width: 1024px)